.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  .modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70vh;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: $modal-duration;

    video {
      outline: none;
    }

    .closeModal {
      position: absolute;
      top: 2px;
      right: 10px;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      transition: .3s;
      z-index: 1;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $primary-color;
        cursor: pointer;
      }
    }

    // Carousel
    
    .slider {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .4s ease-in-out;

        &.current {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .sliderButtons button {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        padding: 13px 15px;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;

        &:hover {
          background: #fff;
          color: #333;
        }

        &#nextBtn {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
        }

        &#prevBtn {
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
        }
      }

      .indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        height: 20px;
        // width is added with javascript

        ul {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          li {
            list-style: none;
            width: 30px;
            height: 3px;
            background: gray;

            &.activeIndicator {
              background: #fff;
            }
          }
        }
      }
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .modal {
    .modal-content {
      width: 75%;

      .slider {
        .sliderButtons button {
          padding: 10px 12px;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .modal {
    .modal-content {
      width: 85%;
      height: 60vh;

      .slider {
        .sliderButtons button {
          padding: 8px 10px;
        }
      }
    }
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-height: 500px) {
  .modal {
    .modal-content {
      height: 80vh;
    }
  }
}