.contact {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px;
  background: #f7f7f7;
  overflow: hidden;

  &::before {
    content: 'Contact';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -28%;
    right: -20%;
    font-size: 30rem;
    font-weight: 900;
    color: rgba(0,0,0,.1);
    font-family: 'Poppins';
    pointer-events: none;
    overflow: hidden;
  }

  .contact-title {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;

    div {
      width: 35%;
      height: auto;

      .title {
        font-size: 2.5rem;
        color: $secondary-text-color;
        margin-bottom: 5px;
        font-family: "Poppins";
      }

      .text {
        font-size: .9rem;
        color: $text-color;
        line-height: 1.5rem;
        font-family: "Montserrat";
        font-weight: 600;
      } 
    }
  }

  .contact-content {
    width: 100%;
    height: auto;
    padding: 50px;

    form {
      display: grid;
      grid-template-columns: repeat(2, 350px);
      grid-template-rows: repeat(3, 100px);
      justify-content: center;
      grid-gap: 20px;

      .name {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      .email {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      .message {
        grid-column: 1 / 3;
        grid-row: 2;
      }

      .submit {
        grid-column: 1 / 3;
        grid-row: 3;
        justify-self: center;
        align-self: center;
      }

      .inputBox {
        .input {
          position: relative;
          width: 100%;
          height: 50px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1.4rem;
          font-family: "Montserrat";
          color: $text-color;
          border-bottom: 2px solid rgba(0,0,0,.3);
          transition: .5s;
        }

        .inputText {
          position: absolute;
          line-height: 50px;
          font-size: 1.4rem;
          font-family: "Montserrat";
          transition: .5s;
          opacity: .5;
        }

        &.focus {
          .input {
            border-bottom: 2px solid $primary-color;
          }

          .inputText {
            transform: translateY(-30px);
            font-size: 1.2rem;
            opacity: 1;
            color: $primary-color;
          }
        }

        // Only for messages textarea
        &.message {
          &.focus {
            .inputText {
              transform: translateY(-50px);
            }
          }
        }

        textarea {
          height: 100px !important;
          resize: none;
        }

        .submit-button {
          position: relative;
          width: 350px;
          background: transparent;
          color: $secondary-text-color;
          border: none;
          outline: none;
          height: 50px;
          font-size: 1.3rem;
          font-weight: 600;
          text-transform: uppercase;
          font-family: "Montserrat";
          cursor: pointer;
          // -webkit-tap-highlight-color: transparent;
          z-index: 1;
        
          &::before,
          &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            transition: transform .5s;
            z-index: -1;
          }
        
          &::before {
            top: 10px;
            height: 50%;
            background: $primary-color;
            transform: scaleX(0);
            transform-origin: left;
          }
        
          &::after {
            bottom: 0;
            height: 8%;
            background: rgba(0,0,0,.3);
            transform: scaleX(1);
            transform-origin: right;
          }
        
          &:hover::before {
            transform: scaleX(1);
          }
        
          &:hover::after {
            transform: scaleX(0);
          }
        }
      }
    }
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) {
  .contact {
    .contact-title {
      div {
        width: 100%;
        text-align: center;
      }
    }
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .contact {
    &::before {
      font-size: 15rem;
      top: 0;
      left: 0;
    }

    .contact-content {
      form {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .contact {
    padding: 50px;

    .contact-content {
      form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);

        .email {
          grid-column: 1 / 2;
          grid-row: 2;
        }
    
        .message {
          grid-column: 1 / 2;
          grid-row: 3;
        }
    
        .submit {
          grid-column: 1 / 2;
          grid-row: 4;
        }

        .inputBox {
          .submit-button {
            width: 250px;
          }
        }
      }
    }
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .contact {
    padding: 20px;

    &::before {
      display: none;
    }

    .contact-title {
      padding: 25px 35px;
      
      div {
        .title {
          font-size: 1.4rem;
          margin-bottom: 10px;
        }

        .text {
          font-size: .7rem;
          line-height: 1rem;
        }
      }
    }

    .contact-content {
      padding: 25px;

      form {
        .inputBox {
          .input {
            font-size: .9rem;
          }

          .inputText {
            font-size: 1rem;
          }
    
          &.focus {
            .inputText {
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}