.skills {
  position: relative;
  width: 100%;
  height: 220vh;
  background: $primary-color;
  overflow: hidden;

  &::before {
    content: 'Skills';
    width: 100%;
    height: 80vh;
    position: absolute;
    top: -250px;
    left: -100px;
    font-size: 30rem;
    font-weight: 900;
    color: rgba(0,0,0,.1);
    font-family: 'Poppins';
    pointer-events: none;
  }

  .graphic-design {
    width: 100%;
    height: 80vh;
    padding: 100px 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    align-items: start;

    .title {
      grid-column: 1 / 3;
      grid-row: 1;

      h1 {
        width: 70%;
        font-size: 2.2rem;
        color: $secondary-text-color;
        font-family: "Poppins";
      }

      p {
        width: 80%;
        font-size: .8rem;
        color: $text-color;
        line-height: 1.2rem;
        font-family: "Montserrat";
        font-weight: 600;
      }
    }

    .buttons {
      grid-column: 3 / 5;
      grid-row: 1;
      justify-self: end;
      align-self: center;

      a {
        @include buttonLinks(rgba(0,0,0,.3));
      }

      .prev {
        @include prevAndNextButtons;
      }
    }

    .skills-title {
      grid-column: 1 / 5;
      grid-row: 2;
    }
  }

  .web-design {
    width: 98%;
    height: 70vh;
    padding: 100px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #f7f7f7;

    .skills-title {
      grid-column: 1 / 6;
      grid-row: 1;
    }
  }

  .video-photography {
    width: 100%;
    height: 70vh;
    padding: 100px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .skills-title {
      grid-column: 1 / 4;
      grid-row: 1;
    }
  }

  .graphic-design,
  .web-design,
  .video-photography {
    .skills-title {
      justify-self: center;
      font-size: 2.5rem;
      color: $secondary-text-color;
      text-transform: uppercase;
      font-family: "Poppins";
    }

    .design {
      position: relative;
      text-align: center;
      z-index: 1;

      .skills-progress, &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        font-weight: 600;
        color: rgba(0, 0, 0, .1);
        font-family: 'Poppins';
        z-index: -1;
      }

      .skills-progress {
        top: -50%;
        left: 0;
        font-size: 7rem;
      }

      &::after {
        content: '%';
        top: 10%;
        right: -20%;
        font-size: 4rem;
      }

      div {
        width: 5rem;
        height: 5rem;
        margin: auto;
        margin-bottom: 20px;
        background: #1e1f22;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          width: 90%;
          height: 90%;
          border: 2px solid #fff;
          border-radius: 50%;
          font-size: 2.7rem;
          font-weight: 400;
          color: #fff;
          font-family: "Poppins";
        }

        i {
          width: 90%;
          height: 90%;
          padding: .575rem; // (Height of the div - fontsize of i) / 4
          border: 2px solid #fff;
          border-radius: 50%;
          font-size: 2.7rem;
          color: #fff;
        }
      }

      h3 {
        font-size: 1.3rem;
        color: $secondary-text-color;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: "Poppins";
      }
    }
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) {
  .skills {
    height: auto;

    .graphic-design {
      padding-bottom: 100px;
    }

    .graphic-design, .web-design, .video-photography {
      height: auto;
      grid-gap: 20px;
    }
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .skills {
    &::before {
      font-size: 15rem;
      top: 0;
    }

    .graphic-design {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 100px;

      .title {
        text-align: center;

        h1 {
          margin: auto;
          margin-bottom: 15px;
        }
  
        p {
          width: 80%;
          margin: auto;
        }
      }

      .buttons {
        display: none;
      }

      .skills-title {
        grid-column: 1 / 3;
      }
    }

    .web-design {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 50px;
      grid-row-gap: 100px;

      .skills-title {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      .design:nth-of-type(3) {
        grid-column: 1 / 3;

        &::after {
          right: -9%;
        }
      }
    }

    .video-photography {
      grid-gap: 50px;
      
      .skills-title {
        font-size: 2.2rem;
      }
    }
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .skills {
    &::before {
      display: none;
    }

    .web-design {
      .design:nth-of-type(3) {
        &::after {
          right: -15%;
        }
      }
    }

    .video-photography {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(100px, auto);
      grid-column-gap: 50px;
      grid-row-gap: 100px;
      padding: 100px;
      
      .skills-title {
        grid-column: 1/3;
        font-size: 2rem;
      }

      .design:nth-of-type(3) {
        grid-column: 1/3;
      }
    }
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .skills {
    .graphic-design {
      padding: 30px;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-row-gap: 50px;

      .title {
        grid-column: 1;

        h1 {
          font-size: 1.4rem;
        }

        p {
          font-size: .7rem;
          line-height: 1rem;
        }
      }

      .skills-title {
        grid-column: 1;
        font-size: 1.5rem;
        align-self: center;
      }
    }

    .web-design {
      padding:  0 30px 30px;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-row-gap: 50px;

      .skills-title {
        grid-column: 1;
        font-size: 1.5rem;
        align-self: center;
      }

      .design:nth-of-type(3) {
        grid-column: 1;

        &::after {
          right: -20%;
        }
      }
    }

    .video-photography {
      padding: 0 30px 30px;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-row-gap: 50px;

      .skills-title {
        grid-column: 1;
        font-size: 1.4rem;
        align-self: center;
      }

      .design:nth-of-type(3) {
        grid-column: 1;
      }
    }

    .graphic-design,
    .web-design,
    .video-photography {
      .design {
        h3 {
          font-size: 1.15rem;
        }
      }
    }
  }
}


// .box1 {
//   grid-column: 1 / 3;
//   grid-row: 1;
//   background: aquamarine;
//   transition: .5s;

//   &:hover {
//     transform: scale(1.2);
//     background: hotpink;
//   }
// }

// .box2 {
//   grid-column: 2 / 4;
//   grid-row: 2;
//   background: sandybrown;
//   transition: .5s;

//   &:hover {
//     transform: scale(1.2);
//     background: honeydew;
//   }
// }

// .box3 {
//   grid-column: 3;
//   grid-row: 1;
//   background: salmon;
//   transition: .5s;

//   &:hover {
//     transform: scale(1.2);
//     background: khaki;
//   }
// }