.animate {
  opacity: 0;
}

@keyframes animateDownUpShortDistance {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateDownUpLongDistance {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateDownUp {
  from {
    opacity: 0;
    transform: translateY(170px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateLeftRight {
  from {
    opacity: 0;
    transform: translateX(-170px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateRightLeft {
  from {
    opacity: 0;
    transform: translateX(170px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateLeftRightLongDistance {
  from {
    opacity: 0;
    transform: translateX(-270px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}